.titre {
	color:red;
	
}
.formateur{
	color:blue;
}
h3{
	color:purple;
}
h1{
	text-align: center ;

}
.rechercher{
	text-align: center;
	border-style: solid; 
	margin-left: 1150px;
	height: 30px;
}

.titre2 {
 	color: red; }
 
 	header{
 		display: flex;
 		justify-content: space-around;
 		flex-wrap: wrap;
 	}
 	header img {
 	width: 300px;
 	}

 	section{
 		display: flex;
 		flex-wrap: wrap;
 	}
 	section>div {
 		width: 10%;
 		margin: 1.5rem;
 	}
 	section img{
 		width: 100%;
 		border-radius: 50%;
 	}
	section h4 {
		display: flex;
		flex-wrap;
		justify-content: space-around;
	}
	section h3 {
		display: flex;
		flex-wrap ;
		justify-content:space-around;
	}
	hr{
		color:red;
		position:relative;
	}